<div id="book">
  <!-- navigation -->
  <div class="buttons">
    <div class="back image-fader">
      <img src="images/interface/btn_backsmall_OFF.png">
      <img src="images/interface/btn_backsmall_ON.png">
    </div>
    <div class="left-arrow image-fader">
      <img src="images/interface/btn_arrowstory_OFF.png" width="34" height="29" />
      <img src="images/interface/btn_arrowstory_ON.png" width="34" height="29" />
    </div>
    <div class="right-arrow image-fader">
      <img src="images/interface/btn_arrowstory_OFF.png" width="34" height="29" />
      <img src="images/interface/btn_arrowstory_ON.png" width="34" height="29" />
    </div>
  </div>

  <img class="page" src="images/interface/blank.gif" width="1280" height="720" />
  <img class="largeImage" src="images/interface/blank.gif" width="1280" height="720" />

</div>