<div id="fishtank">
  <!-- navigation -->
  <div class="buttons">
    <div class="back image-fader">
      <img src="images/interface/btn_backsmall_OFF.png">
      <img src="images/interface/btn_backsmall_ON.png">
    </div>
  </div>

	<div class="score"></div>
	<div class="score2"><br>Level 1</div>
	<div class="score3"><br>Score 0</div>
	
	<img class="lid" src="images/fishtank/spam_bg.png" width="16" height="123" />
		
	<img class="fish1" src="images/interface/blank.gif" width="129" height="70" />
	<img class="fish2" src="images/interface/blank.gif" width="129" height="70" />
	<img class="fish3" src="images/interface/blank.gif" width="129" height="70" />

	<img class="pinky" src="images/interface/blank.gif" width="137" height="84" />
	
	<img class="can" src="images/fishtank/spam_front.png" width="110" height="126" />
	<img class="tongs" src="images/interface/blank.gif" width="109" height="122">
	<img class="spam" src="images/fishtank/spam.gif" width="36" height="90">
	
	<div class="hood"></div>
	

</div>