<div id="home">
	
	<div class="clouds">
      <img id='cloud_1_left' src="images/home/animations/cloud.jpg"/>
    </div>

	<div class="room">
		
		<div class="remote">
	      <img src="images/home/remote.png"/>
	    </div>
	
	    <div class="animations">
			<div class="eye">
		      <img src="images/home/animations/squid_eye.png"/>
		    </div>

			<img class="pirate" src="images/home/pirateStill.gif" width="116" height="156" />
			<img class="balls" src="images/home/ballsDone.gif" width="112" height="72" />
		</div>
		
		<div class="bubbles">
			<div class="bubbles_timer"></div>               
		</div>
		
		<div class="hotspots">
			<div id="btn_1" class="btn_1 image-fader" id="btn_1">
				<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/playalbum.png"/>
			</div>
		    <div class="btn_2 image-fader" id="btn_2">
		    	<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/musiclyrics.png"/>
		    </div>
		    <div id="btn_3" class="btn_3 image-fader" id="btn_3">
		    	<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/gallery.png"/>
		    </div>
		    <div id="btn_4" class="btn_4 image-fader" id="btn_4">
		    	<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/videos.png"/>
		    </div>
		    <div id="btn_5" class="btn_5 image-fader" id="btn_5">
		    	<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/booklet.png"/>
		    </div>
		    <div id="btn_6" class="btn_6 image-fader" id="btn_6">
		    	<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/thestory.png"/>
		    </div>
		    <div id="btn_7" class="btn_7 image-fader" id="btn_7">
		    	<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/fishtank.png"/>
		    </div>
		    <div id="btn_8" class="btn_8 image-fader" id="btn_8">
		    	<img src="images/interface/blank.gif" />
				<img src="images/home/hotspots/telescope.png"/>
		    </div>
		</div>
	  
	  <div class="buttons">
	    <div id="forward" class="forward image-fader">
	      <img src="images/home/forward.png">
	      <img src="images/home/forward_ON.png">
	    </div>
	    <div id="backward" class="backward image-fader">
	      <img src="images/home/back_arrow.png">
	      <img src="images/home/back_arrow_ON.png">
	    </div>
	  </div>

	<div class="navigation"> 
	    <div class="songs image-fader">
	      <img src="images/nav/btn_music_OFF.png">
		  <img src="images/nav/btn_music_ON.png">
	    </div>
	    <div class="photos image-fader">
	      <img src="images/nav/btn_gallery_OFF.png">
	      <img src="images/nav/btn_gallery_ON.png">
	    </div>
	    <div class="videos image-fader">
	      <img src="images/nav/btn_videos_OFF.png">
		  <img src="images/nav/btn_videos_ON.png">
	    </div>
	    <div class="credits image-fader">
		  <img src="images/nav/btn_notebook_OFF.png">
		  <img src="images/nav/btn_notebook_ON.png">
	    </div>
	    <div class="story image-fader">
	      <img src="images/nav/btn_story_OFF.png">
		  <img src="images/nav/btn_story_ON.png">
	    </div>
	    <div class="game image-fader">
	      <img src="images/nav/btn_fishtank_OFF.png">
		  <img src="images/nav/btn_fishtank_ON.png">
	    </div>
	    <div class="download image-fader">
	      <img src="images/nav/btn_online_OFF.png">
		  <img src="images/nav/btn_online_ON.png">
	    </div>
	  </div>
	
	  <div class="dark"></div>
	</div>
	</div>
	

</div>
