<div id="instructions">
  <!-- navigation -->
  <div class="buttons">
    <div class="back image-fader">
      <img src="images/interface/btn_back_OFF.png">
      <img src="images/interface/btn_back_ON.png">
    </div>
	
	<div class="game image-fader">
		<img src="images/interface/btn_playgame_OFF.png" width="215" height="22" />
		<img src="images/interface/btn_playgame_ON.png" width="215" height="22" />
	</div>
	
  </div>

	<img src="images/fishtank/bg_game.jpg" width="1280" height="720" />

</div>