
<div id="music">
 <div class="buttons">   
  <div class="back image-fader">
    <img src="images/interface/btn_back_OFF.png">
    <img src="images/interface/btn_back_ON.png">
  </div>
  <div class="left-arrow image-fader">
    <img >
    <img src="images/music/btn_arrow.png">
  </div>
  <div class="right-arrow image-fader">
    <img >
    <img src="images/music/btn_arrow.png">
  </div>
  <div class="play image-fader">
    <img src="images/music/btn_play_OFF.png">
    <img src="images/music/btn_play_ON.png">
  </div>
 </div>
  <div class="lyrics-scrollcontainer">
   <div class="lyrics-container"></div>
  </div>
  <div class="lyrics-photo"></div>

  <div class="songlist">
	<div class="thelist">
  		<div id="song01" class="song image-fader">
	      <img src="images/music/songs/btn_song_01_OFF.png">
	      <img src="images/music/songs/btn_song_01_ON.png">
	    </div>
	    <div id="song02" class="song image-fader">
	      <img src="images/music/songs/btn_song_02_OFF.png">
	      <img src="images/music/songs/btn_song_02_ON.png">
	    </div>
	    <div id="song03" class="song image-fader">
	      <img src="images/music/songs/btn_song_03_OFF.png">
	      <img src="images/music/songs/btn_song_03_ON.png">
	    </div>
	    <div id="song04" class="song image-fader">
	      <img src="images/music/songs/btn_song_04_OFF.png">
	      <img src="images/music/songs/btn_song_04_ON.png">
	    </div>
	    <div id="song05" class="song image-fader">
	      <img src="images/music/songs/btn_song_05_OFF.png">
	      <img src="images/music/songs/btn_song_05_ON.png">
	    </div>
	    <div id="song06" class="song image-fader">
	      <img src="images/music/songs/btn_song_06_OFF.png">
	      <img src="images/music/songs/btn_song_06_ON.png">
	    </div>
	    <div id="song07" class="song image-fader">
	      <img src="images/music/songs/btn_song_07_OFF.png">
	      <img src="images/music/songs/btn_song_07_ON.png">
	    </div>
	    <div id="song08" class="song image-fader">
	      <img src="images/music/songs/btn_song_08_OFF.png">
	      <img src="images/music/songs/btn_song_08_ON.png">
	    </div>
	    <div id="song09" class="song image-fader">
	      <img src="images/music/songs/btn_song_09_OFF.png">
	      <img src="images/music/songs/btn_song_09_ON.png">
	    </div>
	    <div id="song10" class="song image-fader">
	      <img src="images/music/songs/btn_song_10_OFF.png">
	      <img src="images/music/songs/btn_song_10_ON.png">
	    </div>
	    <div id="song11" class="song image-fader">
	      <img src="images/music/songs/btn_song_11_OFF.png">
	      <img src="images/music/songs/btn_song_11_ON.png">
	    </div>
	    <div id="song12" class="song image-fader">
	      <img src="images/music/songs/btn_song_12_OFF.png">
	      <img src="images/music/songs/btn_song_12_ON.png">
	    </div>
	    <div id="song13" class="song image-fader">
	      <img src="images/music/songs/btn_song_13_OFF.png">
	      <img src="images/music/songs/btn_song_13_ON.png">
	    </div>
	    <div id="song14" class="song image-fader">
	      <img src="images/music/songs/btn_song_14_OFF.png">
	      <img src="images/music/songs/btn_song_14_ON.png">
	    </div>
	    <div id="song15" class="song image-fader">
	      <img src="images/music/songs/btn_song_15_OFF.png">
	      <img src="images/music/songs/btn_song_15_ON.png">
	    </div>
	    <div id="song16" class="song image-fader">
	      <img src="images/music/songs/btn_song_16_OFF.png">
	      <img src="images/music/songs/btn_song_16_ON.png">
	    </div>
	    <div id="song17" class="song image-fader">
	      <img src="images/music/songs/btn_song_17_OFF.png">
	      <img src="images/music/songs/btn_song_17_ON.png">
	    </div>
	    <div id="song18" class="song image-fader">
	      <img src="images/music/songs/btn_song_18_OFF.png">
	      <img src="images/music/songs/btn_song_18_ON.png">
	    </div>
	</div>
	<div class="scroll_bg">
		<img src="images/music/scroll_bg.png">
	</div>
	<div class="up image-fader">
		<img src="images/music/scroll_up_OFF.png">
		<img src="images/music/scroll_up_ON.png">
	</div>
	<div class="down image-fader">
		<img src="images/music/scroll_down_OFF.png">
		<img src="images/music/scroll_down_ON.png">
	</div>
  </div>
	<div class="navigation">
	    <div class="songs">
	    </div>
	    <div class="photos image-fader">
	      <img src="images/nav/btn_gallery_OFF.png">
	      <img src="images/nav/btn_gallery_ON.png">
	    </div>
	    <div class="videos image-fader">
	      <img src="images/nav/btn_videos_OFF.png">
		  <img src="images/nav/btn_videos_ON.png">
	    </div>
	    <div class="book image-fader">
	      <img src="images/nav/btn_booklet_OFF.png">
		  <img src="images/nav/btn_booklet_ON.png">
	    </div>
	    <div class="story image-fader">
	      <img src="images/nav/btn_story_OFF.png">
		  <img src="images/nav/btn_story_ON.png">
	    </div>
	    <div class="game image-fader">
	      <img src="images/nav/btn_fishtank_OFF.png">
		  <img src="images/nav/btn_fishtank_ON.png">
	    </div>
	    <div class="download image-fader">
	      <img src="images/nav/btn_online_OFF.png">
		  <img src="images/nav/btn_online_ON.png">
	    </div>
	</div>
	<div class="whitesquare"></div>
	<img class="musicmask" src="images/music/mask_menu.png" width="1030" height="252" />

</div>
