
<div id="photos">
  <!-- navigation -->
  <div class="buttons">
    <div class="back image-fader">
      <img src="images/interface/btn_backsmall_OFF.png">
      <img src="images/interface/btn_backsmall_ON.png">
    </div>
    <div class="left-arrow image-fader">
      <img src="images/interface/btn_arrowgallery_OFF.png">
      <img src="images/interface/btn_arrowgallery_ON.png">
    </div>
    <div class="right-arrow image-fader">
      <img src="images/interface/btn_arrowgallery_OFF.png">
      <img src="images/interface/btn_arrowgallery_ON.png">
    </div>
  </div>

	<img class="counter" src="images/photos/counter_01.png" width="126" height="34" />
</div>
