<div id="videos">
  <div class="buttons">
    <div class="back image-fader">
      <img src="images/interface/btn_back_OFF.png">
      <img src="images/interface/btn_back_ON.png">
    </div>
    <div class="left-arrow image-fader">
      <img src="images/interface/btn_arrowgallery_OFF.png">
      <img src="images/interface/btn_arrowgallery_ON.png">
    </div>
    <div class="right-arrow image-fader">
      <img src="images/interface/btn_arrowgallery_OFF.png">
      <img src="images/interface/btn_arrowgallery_ON.png">
    </div>
  </div>
  	<div class="page-container">
	    <!-- first page -->
	    <div class="page" style="opacity: 1">
	      <div class="div1of1 image-fader" id='0'>
			<img src="images/videos/thumbs/video_01_OFF.png"/>
			<img src="images/videos/thumbs/video_01_ON.png"/>
	      </div>
	      <div class="div2of1 image-fader" id='1'>
			<img src="images/videos/thumbs/video_02_OFF.png"/>
			<img src="images/videos/thumbs/video_02_ON.png"/>
	      </div>
	      <div class="div3of1 image-fader" id='2'>
			<img src="images/videos/thumbs/video_03_OFF.png"/>
			<img src="images/videos/thumbs/video_03_ON.png"/>
	      </div>
	      <div class="div4of1 image-fader" id='3'>
			<img src="images/videos/thumbs/video_04_OFF.png"/>
			<img src="images/videos/thumbs/video_04_ON.png"/>
	      </div>
	      <div class="div5of1 image-fader" id='4'>
			<img src="images/videos/thumbs/video_05_OFF.png"/>
			<img src="images/videos/thumbs/video_05_ON.png"/>
	      </div>
	      <div class="div6of1 image-fader" id='5'>
			<img src="images/videos/thumbs/video_06_OFF.png"/>
			<img src="images/videos/thumbs/video_06_ON.png"/>
	      </div>
		</div>
		<!-- second page -->
		<div class="page">
	       <div class="div1of2 image-fader" id='6'>
				<img src="images/videos/thumbs/video_07_OFF.png"/>
				<img src="images/videos/thumbs/video_07_ON.png"/>
		      </div>
		      <div class="div2of2 image-fader" id='7'>
				<img src="images/videos/thumbs/video_08_OFF.png"/>
				<img src="images/videos/thumbs/video_08_ON.png"/>
		      </div>
		      <div class="div3of2 image-fader" id='8'>
				<img src="images/videos/thumbs/video_09_OFF.png"/>
				<img src="images/videos/thumbs/video_09_ON.png"/>
		      </div>
		      <div class="div4of2 image-fader" id='9'>
				<img src="images/videos/thumbs/video_10_OFF.png"/>
				<img src="images/videos/thumbs/video_10_ON.png"/>
		      </div>
		      <div class="div5of2 image-fader" id='10'>
				<img src="images/videos/thumbs/video_11_OFF.png"/>
				<img src="images/videos/thumbs/video_11_ON.png"/>
		      </div>
		      <div class="div6of2 image-fader" id='11'>
				<img src="images/videos/thumbs/video_12_OFF.png"/>
				<img src="images/videos/thumbs/video_12_ON.png"/>
		      </div>
		</div>
		<!-- third page -->
		<div class="page">
	      <div class="div1of3 image-fader" id='12'>
			<img src="images/videos/thumbs/video_13_OFF.png"/>
			<img src="images/videos/thumbs/video_13_ON.png"/>
	      </div>
	      <div class="div2of3 image-fader" id='13'>
			<img src="images/videos/thumbs/video_14_OFF.png"/>
			<img src="images/videos/thumbs/video_14_ON.png"/>
	      </div>
	      <div class="div3of3 image-fader" id='14'>
			<img src="images/videos/thumbs/video_15_OFF.png"/>
			<img src="images/videos/thumbs/video_15_ON.png"/>
	      </div>
	      <div class="div4of3 image-fader" id='15'>
			<img src="images/videos/thumbs/video_16_OFF.png"/>
			<img src="images/videos/thumbs/video_16_ON.png"/>
	      </div>
	      <div class="div5of3 image-fader" id='16'>
			<img src="images/videos/thumbs/video_17_OFF.png"/>
			<img src="images/videos/thumbs/video_17_ON.png"/>
	      </div>
	      <div class="div6of3 image-fader" id='17'>
			<img src="images/videos/thumbs/video_18_OFF.png"/>
			<img src="images/videos/thumbs/video_18_ON.png"/>
	      </div>
	      <div class="div7of3 image-fader" id='18'>
			<img src="images/videos/thumbs/video_19_OFF.png"/>
			<img src="images/videos/thumbs/video_19_ON.png"/>
	      </div>
	      <div class="div8of3 image-fader" id='19'>
			<img src="images/videos/thumbs/video_20_OFF.png"/>
			<img src="images/videos/thumbs/video_20_ON.png"/>
	      </div>
	      <div class="div9of3 image-fader" id='20'>
			<img src="images/videos/thumbs/video_21_OFF.png"/>
			<img src="images/videos/thumbs/video_21_ON.png"/>
	      </div>
	      <div class="div10of3 image-fader" id='21'>
			<img src="images/videos/thumbs/video_22_OFF.png"/>
			<img src="images/videos/thumbs/video_22_ON.png"/>
	      </div>
	      <div class="div11of3 image-fader" id='22'>
			<img src="images/videos/thumbs/video_23_OFF.png"/>
			<img src="images/videos/thumbs/video_23_ON.png"/>
	      </div>
	      <div class="div12of3 image-fader" id='23'>
			<img src="images/videos/thumbs/video_24_OFF.png"/>
			<img src="images/videos/thumbs/video_24_ON.png"/>
	      </div>
		</div>
	</div>

</div>
